Repository kolide/fleet, pull requests merged in 2018-08, with the labels that each got.

#1889 Add kolide-fleet-chart to community section of README
  README.md
Labels: Component: Documentation

#1884 Add osquery table data from master
  frontend/osquery_tables.json
Labels: Component: Frontend

#1891 Run make generate before make docker-build-release
  Makefile
Labels: Component: Development Infrastructure

#1897 Fix targeting packs to individual hosts
  server/datastore/datastore_packs_test.go
  server/datastore/mysql/packs.go
Labels: Bug, Feature: Packs

#1898 Fix pack targets handling in UI
  frontend/kolide/entities/packs.js
  frontend/kolide/entities/packs.tests.js
Labels: Bug, Component: Frontend

#1901 Update changelog for RC4 release
  CHANGELOG.md
Labels: Component: Documentation

#1902 Display errors on password reset page
  frontend/pages/ResetPasswordPage/ResetPasswordPage.jsx
Labels: Bug, Component: Frontend, Feature: Authentication
