Repository kolide/fleet, pull requests merged in 2019-10, with the labels that each got.

#2116 Allow host search by UUID
  server/datastore/datastore_hosts_test.go
  server/datastore/inmem/hosts.go
  server/datastore/mysql/hosts.go
  server/datastore/mysql/migrations/tables/20191010155147_UpdateTableHostsSearchIndex.go
  server/kolide/hosts.go
Labels: Feature: Queries

#2112 Add ability to prefix Fleet URLs
  .gitignore
  cmd/fleet/serve.go
  cmd/fleetctl/api.go
  cmd/fleetctl/config.go
  docs/infrastructure/configuring-the-fleet-binary.md
  frontend/components/AuthenticationFormWrapper/AuthenticationFormWrapper.jsx
  frontend/components/Avatar/_styles.scss
  frontend/components/LoginRoutes/LoginRoutes.jsx
  frontend/components/queries/QueryPageWrapper/helpers.js
  frontend/components/side_panels/SiteNavHeader/UserMenu.jsx
  frontend/components/side_panels/SiteNavSidePanel/navItems.js
  frontend/index.jsx
  frontend/kolide/base.js
  frontend/pages/ResetPasswordPage/ResetPasswordPage.jsx
  frontend/pages/hosts/ManageHostsPage/ManageHostsPage.jsx
  frontend/pages/packs/AllPacksPage/AllPacksPage.jsx
  frontend/pages/packs/EditPackPage/EditPackPage.jsx
  frontend/pages/packs/PackComposerPage/PackComposerPage.jsx
  frontend/pages/queries/ManageQueriesPage/ManageQueriesPage.jsx
  frontend/pages/queries/QueryPage/QueryPage.jsx
  frontend/public-path.js
  frontend/router/index.jsx
  frontend/router/paths.js
  frontend/router/url_prefix.js
  frontend/styles/global/_fonts.scss
  frontend/styles/global/_global.scss
  frontend/templates/react.ejs
  server/config/config.go
  server/datastore/datastore_options_test.go
  server/datastore/internal/appstate/options.go
  server/kolide/emails.go
  server/kolide/emails_test.go
  server/kolide/invites.go
  server/kolide/users.go
  server/mail/mail_test.go
  server/mail/templates/change_email_confirmation.html
  server/mail/templates/invite_token.html
  server/mail/templates/password_reset.html
  server/mail/templates/smtp_setup.html
  server/service/client.go
  server/service/client_live_query.go
  server/service/endpoint_sessions.go
  server/service/endpoint_test.go
  server/service/frontend.go
  server/service/handler.go
  server/service/handler_test.go
  server/service/http_auth_test.go
  server/service/service_appconfig.go
  server/service/service_invites.go
  server/service/service_sessions.go
  server/service/service_users.go
  webpack.config.js
Labels: Component: Frontend, Feature: Infrastructure, Feature: Settings

#2118 Yarn run commands in local JS environment
  Makefile
Labels: Component: Development Infrastructure

#2119 Enable eslint file resolution linting
  .eslintrc.js
  frontend/pages/admin/AppSettingsPage/AppSettingsPage.jsx
  frontend/pages/admin/AppSettingsPage/AppSettingsPage.tests.jsx
  frontend/pages/admin/AppSettingsPage/_styles.scss
  frontend/pages/admin/AppSettingsPage/index.js
  frontend/pages/admin/UserManagementPage/UserManagementPage.jsx
  frontend/pages/admin/UserManagementPage/UserManagementPage.tests.jsx
  frontend/pages/admin/UserManagementPage/_styles.scss
  frontend/pages/admin/UserManagementPage/index.js
  frontend/router/index.jsx
Labels: Component: Development Infrastructure, Component: Frontend, Component: Technical Debt
