Repository kolide/fleet, pull requests merged in 2020-10, with the labels that each got.

#2311 Add redis use_tls cfg
  cmd/fleet/serve.go
  server/config/config.go
  server/live_query/redis_live_query_test.go
  server/pubsub/query_results_test.go
  server/pubsub/redis_query_results.go
  server/sso/session_store_test.go
Labels: Component: Security, Feature: Settings

#2313 Log host identifier in EnrollAgent service logging
  server/service/logging_osquery.go
Labels: Feature: Logging, Feature: Observability

#2316 Fix cleanup of orphaned queries
  server/pubsub/inmem_query_results.go
  server/service/service_osquery.go
  server/service/service_osquery_test.go
Labels: Bug, Feature: Queries

#2317 Update osquery schema to 4.5.0
  frontend/osquery_tables.json
Labels: Component: Documentation, Component: Frontend

#2321 Update github.com/go-sql-driver/mysql to 1.5.0
  go.mod
  go.sum
Labels: Component: Databases, dependencies

#2323 Update osquery versions available in schedule query UI
  frontend/components/forms/ConfigurePackQueryForm/ConfigurePackQueryForm.jsx
Labels: Component: Frontend

#2324 Update changelog for 3.2.0 release
  CHANGELOG.md
Labels: Component: Documentation

#2325 fleetctl: allow disabling packs via apply
  cmd/fleetctl/get.go
  docs/cli/file-format.md
  server/datastore/datastore_packs_test.go
  server/datastore/mysql/packs.go
  server/kolide/packs.go
Labels: Feature: CLI, Feature: Packs

#2336 Fix form field focus on setup pages
  frontend/components/forms/RegistrationForm/AdminDetails/AdminDetails.jsx
  frontend/components/forms/RegistrationForm/KolideDetails/KolideDetails.jsx
  frontend/components/forms/RegistrationForm/OrgDetails/OrgDetails.jsx
Labels: Bug, Component: Frontend

#2327 Remove soft-deletion pattern
  docs/development/database-migrations.md
  frontend/components/queries/QueryResultsTable/QueryResultsTable.tests.jsx
  frontend/test/stubs.js
  server/datastore/datastore_hosts_test.go
  server/datastore/datastore_test.go
  server/datastore/inmem/queries.go
  server/datastore/mysql/campaigns.go
  server/datastore/mysql/delete.go
  server/datastore/mysql/hosts.go
  server/datastore/mysql/invites.go
  server/datastore/mysql/labels.go
  server/datastore/mysql/migrations/data/20171212182459_DeleteSoftDeletedPacks.go
  server/datastore/mysql/migrations/data/20181119180000_DeleteSoftDeletedEntities.go
  server/datastore/mysql/migrations/tables/20201011162341_CleanupSoftDeletedColumns.go
  server/datastore/mysql/packs.go
  server/datastore/mysql/password_reset.go
  server/datastore/mysql/queries.go
  server/datastore/mysql/scheduled_queries.go
  server/datastore/mysql/sessions.go
  server/datastore/mysql/targets.go
  server/datastore/mysql/users.go
  server/kolide/campaigns.go
  server/kolide/hosts.go
  server/kolide/invites.go
  server/kolide/labels.go
  server/kolide/packs.go
  server/kolide/queries.go
  server/kolide/scheduled_queries.go
  server/kolide/traits.go
  server/kolide/users.go
  server/service/service_sessions.go
  tools/api/README.md
  tools/app/demo.sql
Labels: Component: Databases, Component: Technical Debt
